<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container text-center">
      <% include ../static/partials/navbar.ejs %>

      <h1>Menu</h1>
      <a href="/menu/new" class="btn btn-success">Add a new menu Item</a>
<!-- #1 -->
<!-- #2 -->
<div class="row text-center">
    <% menus.forEach((menu) => { %>
  <div class="col-sm-4" id="divmenu"><img src="<%= menu.imgsrc %>" class="img-responsive" style="width:100%" alt="Image" width="200" height="300">
  <a href="/menu/<%= menu.id %>"> <%= menu.name %></a>
  <p><%= menu.description %></p>
  <p>$<%= menu.price %>.00</p>
  </div>
  <% }) %>

</div>

    </main>
  </body>
</html>